* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.site-link {
    text-decoration: none;
    list-style: none;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(Auto-fill, minmax(280px, 1fr));
    gap: 2px;
}

.loader {
    display: block;
    position: relative;
    height: 32px;
    width: 200px;
    background: #fff;
    border: 2px solid #fff;
    color: red;
    overflow: hidden;
}

.loader::before {
    content: '';
    background: red;
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    animation: loading 10s linear infinite;
}

.loader:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 24px;
    line-height: 32px;
    color: rgb(0, 255, 255);
    mix-blend-mode: difference;
    animation: percentage 10s linear infinite;
}

@keyframes loading {
    0% {
        width: 0
    }

    100% {
        width: 100%
    }
}

@keyframes percentage {
    0% {
        content: "0%"
    }

    5% {
        content: "5%"
    }

    10% {
        content: "10%"
    }

    20% {
        content: "20%"
    }

    30% {
        content: "30%"
    }

    40% {
        content: "40%"
    }

    50% {
        content: "50%"
    }

    60% {
        content: "60%"
    }

    70% {
        content: "70%"
    }

    80% {
        content: "80%"
    }

    90% {
        content: "90%"
    }

    95% {
        content: "95%"
    }

    96% {
        content: "96%"
    }

    97% {
        content: "97%"
    }

    98% {
        content: "98%"
    }

    99% {
        content: "99%"
    }

    100% {
        content: "100%"
    }
}


.modal-window {
    width: 100% !important;
    min-height: 100% !important;
    background-color: rgba(0, 0, 0, 0.793);
    backdrop-filter: blur(16px);
    position: fixed;
    top: 0;
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s linear;
}

.modal-window .modal-container {
    width: 65%;
    height: 70vh;
    background-color: #fff;
    box-shadow: 0 0 10px 0px rgb(157, 157, 157);
}

.modal-hide {
    transform: translateY(-200%);
}

#close {
    cursor: pointer;
    position: absolute;
    z-index: 2222222222;
}

.animate {
    animation-name: animateModal;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-direction: alternate;
}

@keyframes animateModal {
    0% {
        transform: scale(1) translateX(0);
    }

    25% {
        transform: scale(0.95) translateX(-10px);
    }

    50% {
        transform: scale(1) translateX(10px);
    }

    75% {
        transform: scale(0.95) translateX(-10px);
    }

    100% {
        transform: scale(1) translateX(0);
    }
}